<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container mx-auto p-4 bg-white rounded-lg shadow">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <section class="antialiased  text-gray-600  px-4">
      <div class="flex flex-col justify-center h-full">
        <!-- Table -->
        <div class="w-full max-w-4xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
          <header class="px-5 py-4 border-b border-gray-100">
            <h2 class="font-semibold text-gray-800">Projects</h2>
          </header>
          <div class="p-3">
            <div class="overflow-x-auto">
              <table class="table-auto w-full">
                <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                  <tr>
                    <th class="p-2 whitespace-nowrap">
                      <div class="font-semibold text-left">Name</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                      <div class="font-semibold text-left">Description</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                      <div class="font-semibold text-left">Start</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                      <div class="font-semibold text-center">Due</div>
                    </th>
                  </tr>
                </thead>
                <tbody class="text-sm divide-y divide-gray-100">
                  <% projects.forEach( function( project) { %>
                    <tr>
                      <td class="p-2 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img class="rounded-full"
                              src="https://picsum.photos/200"
                              width="40" height="40" alt="Alex Shatov"></div>
                          <div class="font-medium text-gray-800"><%= project.project_title %> </div>
                        </div>
                      </td>
                      <td class="p-2 whitespace-nowrap">
                        <div class="text-left"><%= project.project_description %> </div>
                      </td>
                      <td class="p-2 whitespace-nowrap">
                        <div class="text-center font-medium text-green-500"><%= project.project_start_dt.toDateString() %> </div>
                      </td>
                      <td class="p-2 whitespace-nowrap">
                        <div class="text-lg text-center"><%= project.project_due_dt.toDateString() %> </div>
                      </td>
                    </tr>   
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>