<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container mx-auto p-4 bg-white rounded-lg shadow">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <section class="antialiased  text-gray-600  px-4">
      <ol class="border-l-2 border-blue-600">
        <% notes.forEach( function(note){ %>
          <li>
            <div class="flex flex-start items-center">
              <div class="bg-blue-600 w-4 h-4 flex items-center justify-center rounded-full -ml-2 mr-3 -mt-2"></div>
            </div>
            <div class="ml-6 mb-6 pb-6">
              <a href="#!"
                class="text-blue-600 hover:text-blue-700 focus:text-blue-800 duration-300 transition ease-in-out text-sm">
                <%= note.date.toDateString() %>
              </a>
              <p class="text-gray-700 mt-2 mb-4">
                <%= note.note %>
              </p>
              <button type="button"
                class="inline-block px-4 py-1.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Edit</button>
            </div>
          </li>
        <% }) %>
      </ol>
    </section>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>